body { /* Stijling op elke pagina van mijn website. ˇ{ˇ om de tag te openen */
    background-color: powderblue; /* Zorgt voor de achtergrondskleur powderblue. */
    height: 100vh; /* Onderdelen zijn even hoog als het scherm. */
    position: relative; /* Zorgt ervoor dat ik onderdelen kan verplaatsen zonder dat andere onderdelen verschuiven. */
} /*Om de tag te sluiten*/

ul { /* Stijling voor mijn unsorted list */
    list-style-type: none; /* Zorgt ervoor dat alle opsommingstekens worden verwijderd */
    margin: 0; /* Zorgt ervoor dat er geen ruimte is de buitenkant */
    padding: 0; /* Zorgt ervoor dat er geen ruimte is aan de binnenkant */
    overflow: hidden; /* Zorgt ervoor dat onderdelen buiten de menu niet worden weergegeven */
    background-color: steelblue; /* Achtergrondkleur is steelblue */
}

li { /* Stijling voor list items */
    float: left; /*Listitems staan horizontaal naast elkaar. */
}

li a { /* Stijling voor de links */
    display: block; /* Gebruik volledige breedte van listitems waardoor de lettertype perfect is. */
    color: white; /* Tekstkleur is wit. */
    text-align: center; /* Plaatst de tekst in het midden. */
    padding: 14px 16px; /* 14 pixels afstand van boven en beneden en 16 pixels afstand van links en rechts  */
    text-decoration: none; /* Zodat er geen onderstreping is onder de links */
    font-size: large; /* Grootte van de tekst is groot. */
    font-weight: 700; /* De tekst is vetgedrukt. */
}


li a:hover { /* hover betekent de kleur van het menu als je met de muis over de menu gaat */
    background-color: skyblue; /* Kleur bij hover is skyblue */
}

h1 { 
    text-align: center; /* Plaatst de h1 in het midden */
    color: steelblue; /* Kleur is steelblue */
}

h2 {
    margin-bottom: 0; /* Verwijdert de ruimte onder de tekst */
    margin-left: 10px; /* Ruimte van 10 pixel groot aan linkerzijde */
    color: steelblue; /* Kleur is steelblue */
}
h2 a { /* De link in lettertypte header 2*/
    color: steelblue; /* De kleur van de link is steelblue*/
}
p {
    margin-top: 0; /* Verwijdert de ruimte boven de tekst */
    margin-left: 10px; /* Ruimte van 10 pixels groot aan de linkerzijde */
    color: midnightblue; /* De tekstkleur is midnightblue */
    max-width: 600px; /* De maximale breedte van de paragraaf is 600 pixels */
    text-align: justify; /* Zorgt ervoor dat de regels op hetzelfde moment eindigen, waardoor het er netjes uitziet */
}
.watiscompressie { /* Een punt voor class naam die ik in html heb bedacht, hierdoor kan ik het stijlen in css */
    max-width: 1050px;
    margin-top: 0; 
    margin-left: 10px;
    color: midnightblue;
    text-align: justify;
}
.soortencompressie {
    max-width: 1050px;
    margin-top: 0;
    margin-left: 10px;
    color:midnightblue;
    text-align: justify;
}
.bitmap {
    max-width: 725px;
    margin-top: 0;
    margin-left: 10px;
    color: midnightblue;
    text-align: justify;
}
.geluidsfragmenten {
    max-width: 725px;
    margin-top: 0;
    margin-left: 10px;
    color: midnightblue;
    text-align: justify;
}
.binairtekst1 {
    max-width: 750px;
    margin-top: 0;
    margin-left: 10px;
    color: midnightblue;
    text-align: justify;
}
.binairtekst2 {
    max-width: 750px;
    margin-top: 0;
    margin-left: 10px;
    color: midnightblue;
    text-align: justify;
}
.asciitekst {
    max-width: 410px;
    margin-top: 0;
    margin-left: 10px;
    color: midnightblue;
    text-align: justify;
}
.binarybonanzagame {
    position: absolute; /*Zorgt dat onderdelen precies op een plek komt te staan zonder andere onderdelen te hinderen */
    top: 50%; /*Plaatst de bovenhoek in het midden*/
    left: 50%; /*Plaatst de linkerhoek in het midden*/
    transform: translate(-50%, -50%); /*hierdoor verplaatst het spel naar links en omhoog met 50%, waardoor het precies in het midden op de pagina staat*/
    width: 700px;
    margin-top: 30px;
}

.afbeelding1 {
    position: absolute; 
    top: 48px; /* Afstand tussen de bovenkant van de pagina is 48 pixels*/
    right: 0px; /* Er zit geen ruimte tussen de rechterkant van de pagina */
    margin: 20px; /* Ruimte rondom de afbeelding is 20 pixels */
    width: 300px; /* Grootte van de afbeelding is 300 pixels */
    height: auto; /* Houdt de hoogte gelijk */
}
.afbeelding2 {
    position: absolute; 
    bottom: 40px; /* Afstand tussen de onderkant van de pagina is 40 pixels*/
    right: 350px;
    width: 300px; 
    height: auto; 
}
.afbeeldingkleurmodellen {
    position: absolute; 
    bottom: 25px; 
    right: 75px; 
    width: 450px; 
    height: auto; 
}
.afbeeldingbinair1 {
    position: absolute; 
    top: 48px; 
    right: 80px; 
    margin: 30px; 
    width: 225px; 
    height: auto; 
}
.afbeeldingbinair2 {
    position: absolute; 
    bottom: 0px; 
    right: 160px; 
    margin: 30px;
    width: 225px; 
    height: auto; 
}
.afbeeldingsamplen {
    position: absolute;
    top: 160px;
    right: 30px;
    width: 500px;
    height: auto;
}
.afbeeldingcompressie {
    position: absolute;
    right: 0;
    top: 48px;
    margin: 40px;
    width: 200px;
    height: auto;
}
.afbeeldingeenheden {
    position: absolute;
    right: 0;
    bottom: 48px;
    margin: 40px;
    width: 200px;
    height: auto;
}
.ASCIItabel {
    position: absolute;
    right: 25px;
    bottom: 25px;
    width: 800px;
    height: auto;
}

footer {
    position: fixed;
    left: 0; /* Zet de footer helemaal links */
    bottom: 0; /* Zet de footer helemaal onderaan */
    width: 100%; /* Zorgt ervoor dat de footer de volledige breedte van de pagina inneemt */
    color: navy; /* Tekstkleur van de footer is navy */
    line-height: 0.4; /*De ruimte tussen de regels wordt kleiner*/
}
