body {
    margin: 0;
    background-color: powderblue;
    height: 100vh;
    position:relative
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: steelblue;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: large;
font-weight: 700;
}

li a:hover {
    background-color: skyblue
}

h2 {
    margin-bottom: 0;
    margin-left: 10px;
    color: steelblue;
}
h1 {
    text-align: center;
    color: steelblue;
}

p {
    margin-top: 0;
    margin-left: 10px;
    color: midnightblue;
    max-width: 600px;
    text-align: justify;
}

.binarybonanzalink {
    color: steelblue;
}

.binarybonanzagame {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.afbeelding1 {
    position: absolute;
    top: 48px;
    right: 0px;
    margin: 20px;
    width: 300px;
    height: auto;
}   
.afbeelding2 {
    position: absolute;
    bottom: 20px;
    right: 350px;
    width: 300px;
    height: auto;
}
.afbeeldingkleurmodellen {
    position: absolute;
    bottom: 25px;
    right: 75px;
    width: 450px;
    height: auto;
}
.afbeeldingbinair1 {
    position: absolute;
    top: 48px;
    right: 0px;
    margin: 20px;
    width: 310px;
    height: auto;
}
.afbeeldingbinair2 {
    position:absolute;
    bottom: 20px;
    right: 360px;
    width: 310px;
    height: auto;
}

footer {
    background-color: steelblue;
    height: 100px;
    bottom: 0px;
}
