body {
    margin: 0;
    height: 100vh;
    position:relative
}

.rechtsonder {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

body {background-color:powderblue
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: steelblue;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: large;
font-weight: 700;
}

li a:hover {
    background-color: skyblue
}

h1, h2 {
    margin-bottom: 0;
}
p {
    margin-top: 0;
}

.titel {
    text-align: center;
    color: steelblue;
}

.voorstellen {
    text-align: justify;
    max-width: 600px;
    margin-left: 20px;
    color:midnightblue;
}

.kop1 {
    color: steelblue;
    margin-left: 20px;
}

.afbeelding1 {
    position: absolute;
    margin-top: 0px;
    margin-right: 0px;
    width: 150px;
    height: auto;
}   
